.venv/

# Python bytecode files
__pycache__/
*.py[cod]
# Distribution / packaging
.Python
build/
dist/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
.coverage
*.cover
# Translations
*.mo
# Django stuff:
*.log
# Sphinx documentation
docs/_build/
# PyInstaller
#  Usually contains the name of your project but this can be configured
#  so it is ignored here.
#  PyInstaller creates a build/ directory with a lot of files and directories
#  that are not useful to commit.
#  It is also possible to specify the name of the directory with the --distpath
#  option.
#  See https://pyinstaller.readthedocs.io/en/stable/usage.html#options
#  for more information.
build/
# Pyre type checker
.pyre/
# mypy
.mypy_cache/
# Pytype
.pytype/
# Cython debug symbols
cython_debug/
# VS Code settings
.vscode/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Jupyter Notebook metadata
.ipynb
# Local configuration files
*.local
# Environment variables
.env
# Coverage reports
coverage.xml
# Pytest cache
.pytest_cache/
# PyCharm project files
.idea/

# database files
*.sqlite3
.db
